
img {
display: block;
}

header {
margin: 0 1.5% 24px 1.5%
background-color: #ffffff;
height: 100px;
width: 1250px;
}

#header1 {
float: right;
margin-right: 1000px;
padding-left: 200px;
background-color: #ffffff;	

}

#header2 {
float: right;
padding-top: 40px;
background-color: #ffffff;
}


h2{
color: #4aaaa5;
}

h3{
color: #4aaaa5
}

body{

    background-image: url("../images/concrete_seamless 2/concrete_seamless.png");                    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
 }


p {
font-size: 20px;
color:#777777;
}



section {
margin: 0 1.5% 24px 1.5%;
clear: both;
float: left;
margin-left: 240px;
width: 40%;
border-style: solid;
background-color: #ffffff;
}


aside {
margin: 0 1.5% 24px 1.5%;
border-style: solid;
float: right;
background-color: #ffffff;
margin-right: 20%;
}

footer {

clear: both;
text-align: center;
background-color: #666666;
padding: 20px
}



